[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"

[dev-packages]
black = "*"
build = "*"
pylint = "*"
setuptools = "*"
twine = "*"
tomlkit = "*"
shibuya = "*"
sphinx = ">=8.0.0"

[requires]
python_version = "3.11"
